<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.jsの練習</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<h2>課題</h2>
<p>Vue.jsのチュートリアル</p>
<body>
    <div id="app">
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">追加</button>
        </form>
        <ul>
            <li v-for="todo in todos">{{todo.item}}</li>
        </ul>
    </div>
    <script src="main.js"></script>
</body>
</html>